VITE_SUPABASE_URL=https://xuxuoaddriutfggrntnt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1eHVvYWRkcml1dGZnZ3JudG50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMTI4MDgsImV4cCI6MjA5MTY4ODgwOH0.Wp2aKtkLSxVzFIUM5-a4A-q9qOZy5RmSj9Yw61Xl7vw
